<h1>Bienvenido {{user.first_name}}</h1>

<div>
  <form action="/api/carts" method="POST">
    <button type="submit">Create Cart</button>
  </form>
</div>

<div id="products">
  <header>
    <button><a href={{response.prevLink}}>prevLink</a></button>
    <button><a href={{response.nextLink}}>nextLink</a></button>
  </header>

  <div class="lista">
    {{#each products}}
      <div class="user-info">
        <span id="userInfo">
          <h2>{{this.title}}</h2>
          <p>price: {{this.price}}</p>
          <button>Add to card</button>
        </span>
      </div>
    {{/each}}
  </div>

</div>
<a href="/auth/logout">Cerrar Sesion</a>